.anjuta
.anjuta_sym_db.db
.deps
Debug
Makefile
Makefile.am.bak
autom4te.cache
config.h
config.h.in
config.log
config.status
fbled.o
stamp-h1
fbled
configure.ac.bak
compile
config.guess
config.sub
glibc
uClibc
TODO.tasks
Makefile.in
aclocal.m4
configure
depcomp
install-sh
missing
config.h.in~
